body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    width: 1280px;
    margin: 0 auto;
    
}
header a {
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 65px;
}
header div {
    margin-left: 400px;
}
header {
    padding: 35px 0;
}
img {
    margin-bottom: 55px;
}
section {
    padding-bottom: 95px;
    background-color: #f5f6f7;
}
section div {
    text-align: center;
    margin: 0 110px;
}
h1 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 22px;
}
p {
    margin-bottom: 22px;
    line-height: 25px;
    font-size: 16px;
}
button {
    width: 192px;
    height: 50px;
    border: none;
    color: white;
    background: #16a085;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;  
}
footer {
    padding: 45px 0;
        text-align: right;
}
span {
    font-weight: bold;
    margin-right: 100px;
}




